* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    background-color: rgb(126, 119, 173);
    font-family: 'Lilita One', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#main{
    text-align: center;
    margin-top:30px ;
    margin-bottom: 50px;
    color: black;
}
.wrapper {
    background-color: rgb(84, 162, 193);
    max-width: 450px;
    border-radius: 7px;
    padding: 25px 25px;
    height: 450px;
    transition: height 0.2s ease;
    box-shadow: 6px 10px rgb(2, 57, 78);
}
#main{
    color: white;
    display: block;
}
#btn {

    color: white;
    background-color: rgb(90, 198, 18);
    border-radius: 30px;
    font-family: 'Lilita One', cursive;

}

header h1 {
    font-size: 28px;
    font: weight 500px;
    text-align: center;
}

header p {
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
}

.wrapper .form {
    margin: 24px 0 30px;
}

.form :where(input,button) {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
}

.form input {
    font-family: 'Lilita One', cursive;
    border-radius: 10px;
    border: 4px solid rgb(30, 112, 157);
    padding: 0 17px;
    font-size: 25px;
    margin: 4px;
}

.form button {
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.wrapper .qr-code {
    border: 7px dashed black;
    padding: 33px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    pointer-events: none;
}

.wrapper.active {
    height: 654px;
}

.wrapper.active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}
footer {
    padding-top: 105px;
    color: white;
    display: block;
    text-align: center;
}
footer p {
    font-size: 11px;
    padding-bottom: 10px;
}

#reference{
    padding-top: 12px;
    color: white;
    font-size: 16px;
    text-align: center;
}
#btn:active{
    color: black;
}
#sec {
    color: #00FF00;
}
#reference a{
    color: white;
}
@media only screen and (max-width:400px) {
    .wrapper{
        max-width: 337px;
        height: 336px;
    }

    .form input{
        font-size: 21px;
    }
    .wrapper.active {
        height: 670px;
    }
    #reference{
        padding-top: 12px;
        color: white;
        font-size: 11px;
        text-align: center;
    }
}
